
body{
  font-family: sans-serif;
  color: #ffffff;
}

ul{
  list-style: none;
}

.container{
  width: 300px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 0.5s ease;

}

.container:hover .back{
  transform: translateX(0);
  z-index: 1;
}

.container:hover .front img{
  transform: rotateX(180deg);
  z-index: -1;
}

.front{
  width: 300px;
  border-radius: 10px;
  margin-left: -10px;
}

img{
  transition: all 0.5s ease;
  position: absolute;
  z-index: 0;
}

.back{
  height: 400px;
  position: relative;
  transform: rotateX(180deg);
  transition: all 1s ease;
  z-index: -1;
}

.back-wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2, p{
  margin-bottom: 10px;
}

ul{
  margin-right: 20px;
}

.icon{
  margin-left: 20px;
  padding: 5px;
  background-color: #ccc;
  color: #ffffff;
  border-radius: 50%;
}
